*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
  
body{
    
    font-family: "RO Sans", Calibri,sans-serif;
    font-weight: normal;
    line-height: 1.625;
    font-size: 100%;
    position: relative;
}

.main-container1{
    position: relative;
    height: auto;
    width:100%;
}

.header img{
    display:block;
    text-align: center;
    margin: 0 auto 0 50%;
    margin-left: auto;
    margin-right: auto;
    width:100%;
 }

 /*start menu*/
 .menu-content {
    max-height: 0;
    overflow: hidden;
    font-family: 'Oswald', sans-serif; 
    padding: 0px;
    width:100%;
}

.navbar{
    position: relative;
    background-color: #01689b;
    min-height: 110px;
    width:100%;
    display: flex;
    justify-content:center;
    }

.collapsible-menu {
    padding: 0px 0px 15px 10px;
    position: relative;
    background-color: #01689b;
    width:100%;   
}

  .collapsible-menu ul {
    list-style-type: none;
    padding: 40px 0 0 0;
    background-color: #01689b;
}

.collapsible-menu ul li {
    list-style-type: none;
    padding: 0;
    background-color: #01689b;
    border-top:2px solid #fff;;
}
.collapsible-menu a {
    text-decoration: none;
    display: block;
    color: #fff;
    line-height: 1em;
    padding: 15px 5px 15px 5px;
    background-color: #01689b;   
}
    .navbar label {
    background: url(images/menu.svg) no-repeat right center;
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: transparent;
    right:10px ;
    top: 10px;
    position: absolute;
    text-indent: -999px;
}

input#menu {
    display: none;
}

 input:checked +label {
    background-image: url(images/close.svg);
    background-color: transparent;
}

/* Toggle Effect */
 input:checked ~ label {
    background-image: url(images/close.svg);
}
input:checked ~ .menu-content {
    max-height: 100%;
} 

.home-button{
font-size: 1.25rem;
line-height: 1.4em;
letter-spacing: .03rem;
font-weight: normal;
}

.main-container2{
    position: relative;
    padding-bottom: 30px;
    max-width:100%;    
}

.imagebody{
background-color: #000;
display: flex;
/* height: 100%; */
}
.imagebody img
{
height:20rem;
margin-left: auto;
margin-right: auto;
}

    .top-links ul li a
    {
list-style-type: none;
position: relative;
display: block;
width: 100%;
max-height: 19rem;
margin: 0 0 5px 0;
overflow: hidden;
text-decoration: none;
padding-left: 15px;
font-weight: bold;
color: #01689b;
font-size: 1.12rem;
line-height: 1.5rem;
text-decoration: none;
word-wrap: break-word;
    }

    ul{
        text-decoration: none;
        list-style:none;
    }

.top-links {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    padding: 15px 15px 20px 15px;
}

form.searchs input[type=text] {
    padding:15px 30px;
    font-size:1rem;
    float: left;
    width: 300px;
    height:48px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    }
    
    form.searchs button {
    float: left;
    width: 51px;
    height:48px;
    padding: 10px 10px;
    background:black;
    color: white;
    font-size: 1rem;
    margin: 0;
    overflow: hidden;
    max-width: 100%;
    }
    
    form.searchs button:hover {
    background:rgb(19, 18, 18);
    }
    
    .imagebody-container{
    position: relative;
    height:100%;
    overflow: hidden;
    max-width: 100%;
}
.imagebody{
    position: relative;
    height:250px;
}

.imagebody p.copyright{
    color: #fff;
    width: calc(100% - 30px);
    bottom: -2px;
    font-size: 1rem;
    line-height: 1.375rem;
    word-break: break-word;
    position: absolute;
    margin-bottom: .2em;
    z-index: 10;
    padding: 5px 0 0 7px;
    order:2;
    margin-right: 0px;
    list-style: none;
    text-align: left;
    text-shadow: 1px 1px 4px #000;  
}

.image-wrapper{
    padding-left: 5px;
    padding-right:5px;
    max-width: 1200px;
    max-height: 19rem;
    position: absolute;
    padding: 13px 13px 50px 13px;
    z-index: 10;
    display: flex;
}

.main 
{
    position: relative;
    clear: both; 
    width: 100%;  
}

.main .info-first
{
    width:100%;
    padding:50px 3% 30px 3%;
}

.fouritems{
    position: relative;
    }

nav {
    display: block;
}

.fouritems ul {
    display: inline-block;
    list-style-type: disc;
}

.navitem{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 0 25px 0;
    border: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    vertical-align: top;
}

.navitem a{
text-decoration: none;
}

.fouritems ul li{
    padding: 0;
    list-style: none;
    text-align: left;
    vertical-align: top;
}

a:visited:before {
    color: #767676;
    cursor: pointer;
}

.navitem a {
    color: #01689b;
    text-decoration: none;
}

.navitem .content-navitem p{
    color: #000;
}

.navitem h3{
    font-size: 1.3125em;
    font-weight: bold;
    line-height: 1.2381;
    display: block;
    margin: 0;
}
.navitem p{
    line-height: 1.375em;
    font-size: 100%;
}

.info-second{
    margin-left: 15px;
    margin-right: 15px;
}
.fullwidth{
    float: left;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    display: block;
}
section {
    display: block;
}

.brickrow {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    margin: 0;
    clear: both;
    
}

/* .brickRow:before {
    content: "";
    width: calc(100% - 30px);
    margin-left: 15px;
    padding-top: 15px;
} */

.brickrow h2{
    margin: -5px 15px 20px 15px;
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 1.2381;
    display: block;
   
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.brick>a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.brickrow.spotlight .brick>a h3 {
   order:2;
}

.brick h3{
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: normal;
    margin: 0 0 10px 0;
    word-break: break-word;
}

.brick a {
    text-decoration: none;
}

.brickrow.spotlight .brick>*{
    flex: 1 1 100%;
}

.brick{
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
}

.brick img {
    position: relative;
    width: 100%;
    margin: 5px 0 15px 0;
    order: 1;
}

.brick-image{
    position: relative;
}

/* a:visited {
    color: #767676;
} */

a:visited:before {
    color: #767676;
}

a {
    color: #01689b;
}

.brick p.copyright{
    color: #fff;
    width: calc(100% - 30px);
    bottom: 10px;
    font-size: 1rem;
    line-height: 1.375rem;
    word-break: break-word;
    position: absolute;
    margin-bottom: .8125em;
    z-index: 10;
    padding: 5px 0 0 7px;
    order:2;
    margin-right: 0px;
    list-style: none;
    text-align: left;
    text-shadow: 1px 1px 4px #000;  
}

.brick-text{
    order: 3;
    color: #000;
    font-size: 1rem;
    line-height: 1.375rem;
    word-break: break-word;
}

.brick p .pubdate{
    font-weight: bold;
    margin-right: 10px;
}

.brick p{
    color: #000;
    font-size: 1rem;
    line-height: 1.375rem;
    word-break: break-word;
    font-family: "RO Sans",Calibri,sans-serif;
    font-weight: normal;   
}

.brickrow a.more{
    clear: both;
    float: left;
    text-decoration: none;
    position: relative;
    display: block;
    padding-left: 20px;
    font-weight: bold;
    color: #01689b;
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-decoration: none;
    width: auto;
    margin: -2px 15px 25px -5px;
}

/* .banner{
    position: relative;
    margin-top:20px;
} */

.footer {
    clear: both;
    background-color: #01689b;
    border: 0;
    padding-bottom: 0; 
    list-style: none;
}

.footer .languages {
    clear: both;
    background-color: #fff;
}

.footer .wrapper {
    padding-top: 30px;
    /* padding-bottom: 30px; */
    margin-right: auto;
    margin-left: auto;
}

.footer .wrapper .column{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 50%;
    list-style: none;
    padding-bottom: 30px;
}

.footer .wrapper .column h2 {
    margin: 8px 0 5px 0;
    padding-top: 0;
    color: #fff;
    font-weight: normal;
    font-size: 1.35em;
    border: 0;
    line-height: 1.2381;
}

.footer .wrapper .column ul li a {
    color: #fff;
    text-decoration: none;   
}

.footer .languages .wrapper {
    padding: 30px 15px;
}

.footer .languages .wrapper ul {
    text-align: center;   
}

.footer .languages .wrapper ul li.selected {
    padding: 5px 10px 5px 10px;
    margin: 5px 5px 5px 0;
    border: 0;
    color: #000;
    font-weight: 700;
}

.footer .languages .wrapper ul li {
    display: inline-block;
    float: none;
    width: auto;
    vertical-align: top;
    text-align: left;
    vertical-align: top;
}

.footer .languages .wrapper ul li a {
    padding: 5px 10px 5px 10px;
    background: 0;
    border: 1px solid #b2d7ee;
    color: #007bc7;
    margin: 5px 5px 5px 0;
    font-size: .95em;
    text-decoration: none;
    float: left;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
@media only screen and (min-width: 768px){
    .header img
    {
        display:block;
        margin:0 50% 0 50%; 
    }

    .navbar
    {
        min-height: 40px;
    }

    .collapsible-menu
    {   margin:4px 2px;
        display: flex; 
        flex-direction: row;
        position: relative;
    }

    .headnav{
        width: 100%; 
        margin: 0;
        padding: 0;
    }

    .menu-content
    {
        margin: 0;
        padding: 0;
    }

    .headnav-top
    {
        width: 100%;  
    }
    .home-button
    {
        width: 100%;   
    }

    .home-button a
    {
        width: 50%;
        height:40px;
        padding-left: 2%;
    }

    .headnav-bottom
    {
        position: absolute;
        top: 70px;
        z-index: 1;
        right: 20px;
    }

    .menu-content
    {
        min-height: 50px;
    }

    .collapsible-menu ul
    {
        padding: 0;
    }

    .collapsible-menu ul li 
    {
        border-top:none;
        display: inline-block;
        margin: 0% 2%;
    }

    .hamburger-label
    {
        display: none;
    }

    .fouritems{
        justify-content: flex-center;
    }

    .fouritems ul li{
        float:left;
        width: 200px;
        display: block;
    }

    .navitem{
        position: relative;
        min-height: 1px;
        width: 350px;
        height: auto;
        margin: 1.5rem;;
    }

    .main .info-first, .main .info-second {
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
    }

    .info-first{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 15px;
        width:100%;
        background-color: #f3f3f3;
    }

    div{
        display: block;
    }

    .info-second{
        clear: both;
        position: relative;
    }

    .brickrow{
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .brick img {
        position: relative;
        width:20rem;
        margin: 5px 0 15px 0;
        order: 1;
    }

    .brick{
        width:21rem;
        margin: 2rem;
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding: .5rem 1.5rem;
    }

    .fullwidth{
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    #aside{
        display: table;
        margin-left: auto;
        margin-right: auto; 
        position: relative;
    }

    .footer .wrapper{
        display: table;
        margin-left: auto;
        margin-right: auto;
        width:20rem;
    }
    .wrapper .column{
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        border: #000;

    }

}



